Package: com.fouadraheb.appdata
Name: AppData
Version: 1.3.6
Description: View & Manage Applications Data from your Home Screen
Section: Tweaks
Depends: firmware (>= 11.0), mobilesubstrate, preferenceloader
Conflicts:
Architecture: iphoneos-arm
Author: Fouad Raheb <support@fouadraheb.com>
Maintainer: Fouad Raheb <support@fouadraheb.com>
Depiction: https://apt.fouadraheb.com/package/com.fouadraheb.appdata
SileoDepiction: https://apt.fouadraheb.com/package/com.fouadraheb.appdata/sileo
Icon: file:///Library/PreferenceBundles/AppDataPrefs.bundle/AppData@3x.png
